.tag {
	display: inline-block;
	box-sizing: border-box;
	margin: 0 10px 5px 0;
	padding: 5px 10px;
	border-radius: 20px;
	font-weight: bold;
}

.s {
	font-size: 12px;
	line-height: 12px;
}

.m {
	font-size: 14px;
	line-height: 14px;
}

.ghost {
	border: 1px solid var(--gray-light);
}

.red {
	background: #DE0000;
	color: var(--light);
}

.green {
	background: var(--accent-second-light);
	color: var(--accent-second);
}

.gray {
	background: #8892A3;
	color: var(--light);
}

.primary {
	border: 1px solid var(--primary);
	background: none;
	color: var(--primary);
}
